.error{
    color: red;
    font-weight: 700;
    font-style: italic;
}
.container{
    min-height: 550px;
}
.footer-area{
    background: #3CA9E8;
    text-align: center;
    padding: 20px 0px;
	color: #ffffff;
}
.footer-area p{
	margin: 0px;
}


